@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

body{
    color:black;
    background-color:green;
    font-family: "honk"
}

.João{
    color:black;
    background-color:green;
}